
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Prêts à choisir un restaurant ?</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Créer un sondage" />
}
<ul>
    <li>@Html.ActionLink("Ajouter un restaurant", "Create", "Resto")</li>
    <li>@Html.ActionLink("Modifier les restaurants", "Index", "Resto")</li>
</ul>